<img src="{{apiBase}}/{{image.url}}" />
<form [formGroup]="questionnaireForm">
  <ion-list>
    <ion-item>
      <ion-label floating>Taste</ion-label>
      <ion-input type="text" formControlName="answer1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Bloating</ion-label>
      <ion-input type="text" formControlName="answer2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Gas</ion-label>
      <ion-input type="text" formControlName="answer3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Indigestion</ion-label>
      <ion-input type="text" formControlName="answer4"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Heartburn</ion-label>
      <ion-input type="text" formControlName="answer5"></ion-input>
    </ion-item>
    <ion-button color="primary">Answer</ion-button>
  </ion-list>
</form>
