<ion-header>
  <ion-toolbar>
    <ion-title>
      Food Diary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img *ngIf="currentImage && !(analyzedImage$ | async)" [src]="currentImage">
  <ng-container *ngIf="(analyzedImage$ | async) as analyzedImage">
    <img src="{{apiBase}}/{{analyzedImage.url}}">
    {{analyzedImage | json}}
  </ng-container>
  <ion-button (click)="saveImage()" [disabled]="!currentImage">Save</ion-button>
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
  </ion-fab>
  </ion-content>
