<ion-header>
  <ion-toolbar>
    <ion-title>
      Food Diary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img *ngIf="currentImage && !loading" [src]="currentImage" />
  {{ currentImage | json}}
  {{(currentImage && !loading) |json}}
  <div class="spinner-div" *ngIf="loading"><ion-spinner></ion-spinner></div>
  <ng-container *ngIf="!currentImage && analyzedImage">
    <app-image [image]="analyzedImage"></app-image>
  </ng-container>
  <ion-col style="width:100%" class="d-flex">
    <ion-button *ngIf="currentImage && !loading" (click)="saveImage()">Analyse photo</ion-button>
  </ion-col>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button [disabled]="loading" (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
