ion-card {
  height: 97%;
    display: grid;
}

ion-button {
  margin: 0 15px 30px;
  display: block;
}

ion-checkbox {
  margin: 0 15px;
}

ion-label{
  margin-right: 15px;
}

ion-card-subtitle {
  text-align: center;
}