<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/home.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>
        <p>Welcome to use Food Bytes! </p>
        <p>Login to start keeping track of your diet</p>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-list lines="none">
      <ion-button color="primary" href="{{apiBase}}/auth/google" [disabled]="!checkedbtn">Sign In with Google</ion-button>
      <ion-checkbox [(ngModel)]="checkedbtn" name="terms" class="terms-checkbox"></ion-checkbox>
      <ion-label class="terms-checkbox-label">I have read and agree to the Terms and policy and acknowledge the <a href="https://www.privacypolicygenerator.info/live.php?token=1ONHXHHuAm5B4glElep0aX4Fw3HCZudN" target="_blank">Privacy Policy</a></ion-label>
    </ion-list>
  </ion-card>
</ion-content>