<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="md-home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="diary">
      <ion-icon name="md-images"></ion-icon>
      <ion-label>Log Meal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="questionnaires">
      <ion-icon name="md-images"></ion-icon>
      <ion-label>Questionnaire</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="md-build"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
